<section class="section about-section gray-bg" id="about">
    <div class="container pt-5">
        <div class="row align-items-center flex-row">
            <div class="col-lg-6">
                <div class="about-avatar col-lg-7">
                    <img src="../../../assets/MoviesImg/980d6d108d36bb6f01975edbfb458fa5.jpg" title="" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">About Me</h3>
                    <h6 class="theme-color lead">A MEAN Stack Web Developer  based in Odisha,India</h6>
                    <p>As a MEAN stack developer, I'm passionate about web design. I leverage MongoDB, My SQL, Express.js, Angular, and Node.js to create engaging websites, fusing creativity with technical expertise</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday</label>
                                <p>16 Oct 1998</p>
                            </div>
                            <div class="media">
                                <label>Age</label>
                                <p>25 Yr</p>
                            </div>
                            <div class="media">
                                <label>Residence</label>
                                <p>India</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>Bhubaneswar,<br> Odisha, India</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>babluchoudhury478@gmail.com</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>+91 7608833251</p>
                            </div>
                            <div class="media">
                                <label>Skype</label>
                                <a href="https://join.skype.com/invite/wtni4vMc5d8T" target="_blank"><p>skype.profile/Bablu</p></a>
                            </div>
                            <div class="media">
                                <label>Freelance</label>
                                <p>Available</p>
                                <a href="https://www.fiverr.com/bhawani_sankar" target="_blank">fiverr.profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container cnt-box mt-5">
            <div class="card">
                <div class="row py-4 ms-5">
                    <div class="col-md-2">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://example.com" target="_blank" class="btn btn-primary btn-block">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://twitter.com/intent/tweet?url=https://example.com&text=Check out this awesome page!" target="_blank" class="btn btn-info btn-block">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://example.com&title=Amazing Page&summary=Check out this amazing page!" target="_blank" class="btn btn-primary btn-block">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://example.com" target="_blank" class="btn btn-primary btn-block">
                            <i class="fab fa-skype"></i> Skype
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://example.com" target="_blank" class="btn btn-primary btn-block">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
